<div *ngIf="usuario">
    <p>
        <b>Genero: </b>{{ usuario.gender }}
        <br>
        <b>Nombre:</b>{{ usuario.name['title'] }} {{ usuario.name['first'] }} {{ usuario.name['last'] }}
    </p>
</div>

<div>
    <h2>Operador Map</h2>
    <button type="button" class="boton" (click)="showFemale()">Femenino</button>

    <div *ngIf="femenino">
        <p>
            <b>Genero: {{ usuario2.gender }}</b>
            <br>
            <b>Nombre:{{ usuario2.name['title'] }} {{ usuario2.name['first'] }} {{ usuario2.name['last'] }}</b>
        </p>
    </div>
</div>

<div>
    <h2></h2>
    <button type="button" class="boton" (click)="showCountry()">Pais</button>

    <div *ngIf="ciudad">
        <p>
            <b>Ciudad: {{ usuario3.location['country'] }}</b>
            
            <br>
            <b>Nombre: {{ usuario3.name['title'] }} {{ usuario3.name['first'] }} {{ usuario3.name['last'] }}</b>
        </p>
    </div>
</div>

<div>
    <button type="button" class="boton" (click)="MostrarElementos()">Mostrar Elementos</button>
</div>


<div>
    <button type="button" class="boton" (click)="MostrarFoto()">Mostrar Foto</button>

    <div *ngIf="usuario4">
        <p>
            <b>Nombre: </b>{{ usuario4.name['title'] }} {{ usuario4.name['first'] }} {{ usuario4.name['last'] }}
        </p>
        <p>
            <b>Foto: </b>
            <br>
            <img [src]="usuario4['picture'].large" alt="Persona">
        </p>
    </div>
</div>



<!-- NUEVO PARA HACER -->


<div>
    <button type="button" class="boton" (click)="MostrarDatos()">Mostrar Datos</button>

    <div *ngIf="usuario5">
        <p>
            <b>Nombre: </b>{{ usuario5.name['title'] }} {{ usuario5.name['first'] }} {{ usuario5.name['last'] }}
        </p>
        <p>
            <b>Correo: </b>{{ usuario5.email }}
            <br>
            <b>Nombre de Usuario: </b>{{ usuario5.login['username']}}
            <br>
            <b>Contraseña: </b>{{ usuario5.login['password'] }}
        </p>

        <p>
            <b>Fotos: </b>
            <br>
            <img [src]="usuario5['picture'].large" alt="Persona Grande">
            <img [src]="usuario5['picture'].medium" alt="Persona Media">
            <img [src]="usuario5['picture'].thumbnail" alt="Persona Chica">
        </p>
    </div>
</div>

<!-- este mensaje es para borrar las cosas que recien voy a hacer en el futuro que  -->